//Colors

  //Primary

  $veryDarkMagenta: hsl(300, 43%, 22%);
  $softPink: hsl(333, 80%, 67%);

  //Neutral

  $darkGrayishMagenta: hsl(303, 10%, 53%);
  $lightGrayishMagenta: hsl(300, 24%, 96%);
  $white: hsl(0, 0%, 100%);

//Typography

  $fontSize: 15px;

  $fontFamily: 'Spartan', sans-serif;
  $fontWeightLight: 400;
  $fontWeightMedium: 500;
  $fontWeightStrong: 700;